.container{
    width: 90%;
    justify-content: space-between;
    margin: 0 5%;
    flex-wrap: wrap; 
}

.min_height{
    min-height:70.5%;
   
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}