.footer{
    background-color: #222;
   display: flex;
   justify-content: space-between;
   padding: 2em;
   height: 400px;
}

.redes_sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:6% ;
    margin-top: 1em;
}


.redes_sociais p{
    font-size: 40px;
}


.redes_sociais a{
    display: flex;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
    padding: 0.5em;
}

.redes_sociais a:hover{
    color: rgb(255, 189, 66);
}

.redes_sociais svg{
    font-size: 40px;
    padding: 0.3em;
}

.copyright{
    display: flex;
    align-items: center;
    margin-right:6% ;
    font-size: 40px;
    color: #fff;
}