.cabecalho{
    background-color: #222;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho div{
    display: flex;
    height: 100px;
    align-items: center;
}

.cabecalho ul{
    display: flex;
    list-style-type: none;
   
}

.cabecalho li{
    padding:0.5em ;
    font-size: 50px;
    color:#fff;
}

.cabecalho img{
    padding: 0.5em;
    width: 110px;
    height: 110px;
}

.cabecalho a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;

}

.cabecalho a:hover{
    color: rgb(255, 189, 66);

}


