.home{
    display: flex;
    margin-top: 6em;
    width: 100%;
    flex-direction: column;
    align-items: center;
   
}

.home img{
    width: 25%;
    margin: 2em 0;
}

.home h1,.home h2{
    width: 25%;
    text-align: center;
    padding: 0.2em;
}

.home button{
   width: 200px;
   height: 40px;
   font-size: 18px;
   transition: 0.5s;
   background-color: #222;
   color: #fff;
    
}

.home button:hover{
   
    color: rgb(255, 189, 66);
}

.home span{
    font-weight: bold;
    color:rgb(255, 189, 66);
    background-color: #222;
    padding: 0.2em;
}