.filtro {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2em;
}

.filtro label{
    padding: 0.5em;   
}


.filtro form{
    display: inline;
    width: 75%;
    font-size: 20px;
    margin-top: 1em;
    margin-left: 1.7em;
    margin-right: 3em;

}

.filtro input{
    width: 40%;
    height: 60px;
    margin-right: 1em;
    padding: 0.2em;
    font-size: 30px;

}


.buttonBuscar{
    height: 40px;
    width: 150px;
    margin-right: 2.2em;

}