.fundo{

    background-color: white;
    left: 0;
    position: absolute;
    top: 10.2%;
    width: 100%;
    height: 70%;
    filter: blur(7px);
  
}

.exclusao{
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    background-color: #222;
    width: 40%;
    height: 40%;
    justify-content: center;

    border: #222 solid 1px;
    border-radius:20px;
    left: 29%;
    

}

.exclusao h3{
    color: rgb(255, 189, 66);
    text-align: center;
  
} 

.buttons{
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom:1px solid #222 ;
    padding-bottom: 2em;
    
    
}

.exclusao button{
    width: 120px;
   height: 40px;
   margin: 0 1em ;
   margin-top: 2em;
   font-size: 15px;
   background-color: rgb(20, 20, 20);
   color: #fff;
   transition: 0.5s;
    
}

.exclusao button:hover{
    color: rgb(255, 189, 66);
   background-color: rgb(20, 20, 20);
   
    
}